body {
    font-family: Arial, sans-serif;
    margin: 0;
    overflow: hidden;
    background-color:#eef6ff;
    height: 100vh;
}

#main {
    display: flex;
    width: 100%;
    height: 100vh;
}

.chart-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
}

.chart-heading {
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 36px;
    margin-bottom: 40px;
    font-weight: bold;
}

#chart {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    justify-content: flex-start;
    align-items: center;
}

#trail {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: large;
    padding: 10px;
    min-height: 30px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    width: 90%;
    text-align: center;
}

#trail .trailpart {
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0 10px;
    position: relative;
    background: #f0f0f0;
    color: #333;
    margin-right: 20px;
    margin-bottom: 10px;
}

#trail .trailpart:after {
    content: '';
    position: absolute;
    top: 0;
    right: -15px;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #e5e5e7;
}

#explanation {
    font-weight: bolder;
    font-size: x-large;
    color: rgb(32, 32, 142);
    min-height: 30px;
    padding: 0px;
    text-align: center;
    width: 90%;
}

#derived-raagams {
    width: 100%;
    margin-top: 0px;
    display: none;
    font-size:medium;
}

#derived-raagams table {
    width: 100%;
    border-collapse: collapse;
    background: #ecf6ff;
    box-shadow: 0 1px 7px rgba(0,0,0,0.2);
    border-radius: 7px;
    overflow: hidden;
}

#derived-raagams thead {
    position: sticky;
    top: 0;
    z-index: 1;
}

#derived-raagams tbody {
    display: block;
    max-height: 300px; /* Height of 5 rows (assuming each row is ~40px) */
    overflow-y: auto;
}

#derived-raagams td:first-child {
    font-weight: bold; /* Make the text bold */
    color: rgb(32, 32, 142);
    text-align: left; /* Align text to the left */
}

#derived-raagams thead tr,
#derived-raagams tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

#derived-raagams th, 
#derived-raagams td {
    padding: 5px;
    text-align: left;
}

#derived-raagams th {
    background-color: rgb(32, 32, 142);
    color: white;
    font-weight: bold;
}

/* #derived-raagams tbody tr:hover {
    background-color: #859ed4f1;
} */

#derived-raagams-title {
    color: rgb(0, 0, 0);
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: left;
}